@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededed;

    height: 100vh;

    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
}

.section-left {
    width: 40%;
    height: 100vh;

    background-color: #4E5BEE;

    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.section-left img {
    width: 30vh;

    margin-bottom: 40px;
}

.section-left p {
    text-align: center;

    color: white;
    font-family: 'Roboto', sans-serif;
}

.form {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin-bottom: 15px;
    padding: 15px 50px;

    border-radius: 60px;
    border: 2px solid white;

    background-color: transparent;

    outline: none;

    color: white;

}

input[type=button] {
    background-color: white;

    color: #504F5F;
    font-size: 17px;

    padding: 15px 110px;

    margin-top: 18px;

    cursor: pointer;
}

.section-right {
    width: 80%;

}

.section-right img {
    width: 60vw;

    padding: 32px;
}

